{% extends "layout.html" %}

{% block title %}
    Add Workout
{% endblock %}

{% block main %}
    <div class="container4">
        <h2>Workout Details</h2>
        <form class="log_form" action="/add_log" method="post">
            <div class="muscle_group">
                <label>Muscle group:</label>
                <input type="text" name="muscle_group" required>
            </div>
            <div class="exercises" id="exercises">
                <div class="exercise">
                    <label>Exercise:</label>
                    <input type="text" name="exercise[]" required>
                    <label>Sets:</label>
                    <input type="number" name="sets[]" min="1" required>
                    <label>Reps:</label>
                    <input type="number" name="reps[]" min="1" required>
                    <label>Max weight (kg):</label>
                    <input type="number" name="weight[]">
                </div>
            </div>
            <button class="add_ex_btn" type="button" onclick="addExercise()">Add exercise</button>
            <button class="add_log_btn" type="submit">Log Workout</button>
        </form>
    </div>

    <script>
        // function to add a new set of exercise inputs
        function addExercise() {
            var exercisesDiv = document.getElementById('exercises');
            var newExerciseDiv = document.createElement('div');
            newExerciseDiv.class = 'exercise';
            newExerciseDiv.innerHTML = `
                <label for="exercise1">Exercise:</label>
                <input type="text" name="exercise[]" required>
                <label for="sets1">Sets:</label>
                <input type="number" name="sets[]" min="1" required>
                <label for="reps1">Reps:</label>
                <input type="number" name="reps[]" min="1" required>
                <label for="weight1">Max weight (kg):</label>
                <input type="number" name="weight[]">
            `;
            exercisesDiv.appendChild(newExerciseDiv);
        }
    </script>
{% endblock %}
