<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Workout Logs</h2>
        <a href="/add_log" class="add_log_sign">+</a>
        <div class="logs">
            {% for log in logs %}
            <a href="/log/{{ log.id }}" class="log_details">
                <div class="log">
                    <p>Muscle Group: {{ log.muscle_group }}</p>
                    <p>Date: {{ log.date }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
