<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="navbar">
        {% if session["user_id"] %}
            <ul class="left">
                <li {% if request.path == '/' %} class="active" {% endif %}><a href="/">Home</a></li>
                <li {% if request.path == '/add_log' %} class="active" {% endif %}><a href="/add_log">Add Workout</a></li>
            </ul>
            <ul class="right">
                <li class="current_user"><span>Welcome, {{ session["username"] }}</span></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        {% else %}
            <ul class="right">
                <li {% if request.path == '/login' %} class="active" {% endif %}><a href="/login">Login</a></li>
                <li {% if request.path == '/register' %} class="active" {% endif %}><a href="/register">Register</a></li>
            </ul>
        {% endif %}
      </div>

    <main class="container1">
        {% block main %}{% endblock %}
    </main>
</body>
    