{% extends "layout.html" %}

{% block title %}
    Log Details
{% endblock %}

{% block main %}
    <div class="container5">
        <h2>Workout Details</h2>
        <div class="container6">
            <p>Muscle Group: {{ muscle_group }}</p>
            <p>Date: {{ date }}</p>
        </div>
        <table class="ex_table">
            <tr>
                <th>Exercise Name</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>Weight</th>
            </tr>
            {% for detail in details %}
            <tr>
                <td>{{ detail.ex_name }}</td>
                <td>{{ detail.sets }}</td>
                <td>{{ detail.reps }}</td>
                <td>{{ detail.weight }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
