<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Workout Details</h2>
        <div class="container1">
            <p>Muscle Group: {{ muscle_group }}</p>
            <p>Date: {{ date }}</p>
        </div>
        <table>
            <tr>
                <th>Exercise Name</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>Weight</th>
            </tr>
            {% for detail in details %}
            <tr>
                <td>{{ detail.ex_name }}</td>
                <td>{{ detail.sets }}</td>
                <td>{{ detail.reps }}</td>
                <td>{{ detail.weight }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
