{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="container">
        <h2>Register</h2>
        <form action="/register" method="post">
            <label for="username">Username:</label>
            <input autocomplete="off" type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input autocomplete="off" type="password" id="password" name="password" required>
            <label for="confirm">Confirm password:</label>
            <input autocomplete="off" type="password" id="confirm" name="confirm" required>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
{% endblock %}
